@model DoctorsManagmentSystem.Models.Clinic

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Clinic</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ClinicName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClinicName)
                @Html.ValidationMessageFor(model => model.ClinicName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PinCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PinCode)
                @Html.ValidationMessageFor(model => model.PinCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude)
                @Html.ValidationMessageFor(model => model.Latitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude)
                @Html.ValidationMessageFor(model => model.Longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceptionistAvaliable, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceptionistAvaliable)
                @Html.ValidationMessageFor(model => model.ReceptionistAvaliable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoginNeededForReceptionist, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginNeededForReceptionist)
                @Html.ValidationMessageFor(model => model.LoginNeededForReceptionist)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceptionistLoginMobileNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceptionistLoginMobileNumber)
                @Html.ValidationMessageFor(model => model.ReceptionistLoginMobileNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LandlineNumberOrMobileNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LandlineNumberOrMobileNumber)
                @Html.ValidationMessageFor(model => model.LandlineNumberOrMobileNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailId)
                @Html.ValidationMessageFor(model => model.EmailId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MorningStartTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MorningStartTime)
                @Html.ValidationMessageFor(model => model.MorningStartTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MorningEndTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MorningEndTime)
                @Html.ValidationMessageFor(model => model.MorningEndTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EveningStartTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EveningStartTime)
                @Html.ValidationMessageFor(model => model.EveningStartTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EveningEndTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EveningEndTime)
                @Html.ValidationMessageFor(model => model.EveningEndTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Holidays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Holidays)
                @Html.ValidationMessageFor(model => model.Holidays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleDeatils, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScheduleDeatils)
                @Html.ValidationMessageFor(model => model.ScheduleDeatils)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentMode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppointmentMode)
                @Html.ValidationMessageFor(model => model.AppointmentMode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentSlotTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppointmentSlotTime)
                @Html.ValidationMessageFor(model => model.AppointmentSlotTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdditionalServicesInClinic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdditionalServicesInClinic)
                @Html.ValidationMessageFor(model => model.AdditionalServicesInClinic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fees, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fees)
                @Html.ValidationMessageFor(model => model.Fees)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FollowUp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FollowUp)
                @Html.ValidationMessageFor(model => model.FollowUp)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
