@model IEnumerable<DoctorsManagmentSystem.Models.Clinic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoginNeededForReceptionist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceptionistLoginMobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDeatils)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentSlotTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalServicesInClinic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoginNeededForReceptionist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceptionistLoginMobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDeatils)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentSlotTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalServicesInClinic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FollowUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
