@model IEnumerable<DoctorsManagmentSystem.Models.Clinic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4>Add Users via Excel</h4>
<hr />
@using (Html.BeginForm("UploadExcel", "Clinic", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">Download Format:</div>
            <div class="col-md-10">
                <a href="/Doc/"><img src="~/excel.ico" width="25" height="25" title="Download Excel format" alt="excel" /></a>
            </div>
        </div>


        <div class="form-group">

            <div class="control-label col-md-2">Excel:</div>
            <div class="col-md-10">
                <input type="file" id="FileUpload" name="fileUpload" class="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <label> @ViewBag.StatusMessage</label>

            </div>
        </div>

    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClinicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PinCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceptionistAvaliable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginNeededForReceptionist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceptionistLoginMobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LandlineNumberOrMobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MorningStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MorningEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EveningStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EveningEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Holidays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDeatils)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentSlotTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalServicesInClinic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowUp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClinicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PinCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceptionistAvaliable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginNeededForReceptionist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceptionistLoginMobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LandlineNumberOrMobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MorningStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MorningEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EveningStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EveningEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Holidays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDeatils)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentSlotTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalServicesInClinic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FollowUp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClinicId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClinicId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClinicId })
        </td>
    </tr>
}

</table>
