@model IEnumerable<DoctorsManagmentSystem.Models.Clinic>

@{
    ViewBag.Title = "Index";
}


<h4>Add Users via Excel</h4>
<hr />
@using (Html.BeginForm("UploadExcel", "Clinic", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">Download Format:</div>
            <div class="col-md-10">
                <a href="/Doc/"><img src="~/excel.ico" width="25" height="25" title="Download Excel format" alt="excel" /></a>
            </div>
        </div>


        <div class="form-group">

            <div class="control-label col-md-2">Excel:</div>
            <div class="col-md-10">
                <input type="file" id="FileUpload" name="fileUpload" class="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <label> @ViewBag.StatusMessage</label>

            </div>
        </div>

    </div>
}




<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClinicId)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorId)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClinicName)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PinCode)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceptionistAvaliable)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoginNeededForReceptionist)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LandlineNumberOrMobileNumber)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MorningStartTime)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MorningEndTime)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EveningStartTime)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EveningEndTime)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Holidays)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDeatils)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentMode)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentSlotTime)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalServicesInClinic)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FollowUp)
        </th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>
        </tr>
    }

</table>
<link href="@Url.Content("~/Content/toastr.min.css")" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/toastr.js"></script>
    <script>
        $(document).ready(function e() {
            toastr.success("Welcome to DPTS");
        });
    </script>
}
